.button {
  border: none;
  background-color: #30a7d7;
  font-size: 24px;
  padding: 16px;
  margin: 8px;
  border-bottom-left-radius: 5px;  
  border-top-right-radius: 5px;
  text-transform: uppercase;
  color: white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button:hover{
  background-color: #09739c;
}