.pokemon-card-container {
  padding: 20px;
}

.pokemon-card {
  background-color: #e2e2e2;
  border-bottom-left-radius: 5px;  
  border-top-right-radius: 5px;
  height: 332px;
}
.pokemon-card-image{
  height: 120px;
  width: 120px;
}
.pokemon-card-image-title{
  display: flex;
  align-items: center;
  font-size: 24px;
  /* color: white; */
  text-transform: uppercase;
}

.pokemon-card-abilities-container {
  padding-left: 8px;
}
.pokemon-card-abilities-container-heading {
  padding-left: 24px;
  font-weight: bold;
}

.pokemon-card-image-pokemonIcon {
  height: 24px;
}

.pokemon-card-stats-container {
  padding-left: 8px;
  margin-top: 24px;
  padding-bottom: 24px;
  align-self: flex-end;
}
.pokemon-card-stats-heading-container {
  text-align: center;
}

.pokemon-card-stats-heading {
  margin: 0 auto;
  display: inline-block;
  font-weight: bold;
}