.app-header {
  background-color: #282c34;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-footer {
  background-color: #282c34;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-logo-container {
  background-color: #282c34;
}

.app-logo {
  display: block;
  margin: 0 auto;
  width: 200px;
}
